<p id="notice"><%= notice %></p>

<h1>Clubs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr scope="row">
        <td><%= image_tag(club.logo.url, size: "16") %></td>
        <td><%= club.name %></td>
        <td><%= link_to 'Show', club %></td>
        <td><%= link_to 'Edit', edit_club_path(club) %></td>
        <td><%= link_to 'Add Event', club_events_path(club) %></td>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Add New Club", new_club_path %>
