<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<%= image_tag @club.logo.url %>
<%= image_tag @club.logo.url(:medium) %>
<%= image_tag @club.logo.url(:thumb) %>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
