<%= form_for @event, url: wizard_path, :html => {:id => "location_form"} do |f| %>
  <%= render "layouts/errors", :object => @event %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, id: "location", size: "100"  %>
  </div>

  <div id="location_map" style="height:400px;"></div>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, id: "id_lat" %>
  </div>

  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, id: "id_lng" %>
  </div>

  <p><%= f.submit "Next" %></p>
  <p><%= link_to "Back", previous_wizard_path %></p>
<% end %>

 <script type="text/javascript">
  $(function(){
    $("#location").geocomplete({map: "#location_map", location:"<%= @location %>"})
    .bind("geocode:result", function(event, result){
      $("input#id_lat").val(result.geometry.location.lat());
      $("input#id_lng").val(result.geometry.location.lng());
    })
  });
</script>
