<%= form_for @event, url: wizard_path do |f| %>
  <%= render "layouts/errors", :object => @event %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: "100" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: "100", rows: "10" %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.text_field :event_date, id: "datepicker", value: (@event.event_date.strftime("%m/%d/%Y") unless @event.event_date.nil?) %>
  </div>
  <p><%= f.submit "Submit" %></p>
<% end %>
