
<%= form_for(@event) do |f| %>
  <%= render "layouts/errors", :object => @event %>

  <% EventType.all.each do |event_type|%>
   <div class="radio">
     <%= image_tag(event_type.image_url, size: "16") %>
     <label>
       <%= f.radio_button :event_type_id, "#{event_type.id}", :checked => (event_type == EventType.first) %>
       <%= event_type.name %>
     </label>
   </div>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>
