<p id="notice"><%= notice %></p>

<h1>Event Types</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image url</th>
      <th>Events</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @event_types.each do |event_type| %>
      <tr scope="row">
        <td><%= event_type.name %></td>
        <td><%= image_tag(event_type.image_url, size: "20") %></td>
        <td>10</td>
        <td><%= link_to 'Edit', edit_event_type_path(event_type) %></td>
        <td><%= link_to 'Destroy', event_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event type', new_event_type_path %>
